$nav-width: 300px;
$nav-width-md: 284px;
$border: 0px;
$font-size-1: 13px;
$font-size-1-sm: 14px;
$font-size-2: 15px; //h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 16px; //h5
$font-size-4: 18px;
$font-size-5: 20px; //h3
$font-size-6: 22px; //h2
$font-size-7: 28px;
$font-size-8: 32px; //h1
$font-size-9: 36px;
$font-size-10: 42px;
$font-size-10-sm: 48px;