

<div class="defn" markdown="1">
A __regular expression over $\Sigma$__ (equivalently: *regex*), is either:
* $\emptyset$
* $\epsilon$
* $a$, a letter of the alphabet $\Sigma$
* $(R \cdot S)$, where $R$ and $S$ are already regular expressions
* $(R + S)$, where $R$ and $S$ are already regular expressions
* $(R^*)$, where $R$ is already a regular expression
We will use $R$, $S$, $T$, $U$ and other uppercase letters towards the end of the alphabet as variables that stand for regular expressions.
</div>