<div class="defn" markdown="1">
A string $w$ is said to be __accepted__ by a finite automaton $M$ just if there is an accepting run of $M$ on $w$.  

The language __recognised__ by $M$, written $L(M)$, is the set of all strings accepted by $M$.
</div>
