

<div class="defn" markdown="1">
The relation "$$R \matches w$$" is defined inductively using the following rules:

$$
\begin{prooftree}
\AxiomC{}
\LeftLabel{$\rlnm{MEmpty}$}
\UnaryInfC{$\epsilon \matches \epsilon$}
\end{prooftree}
\qquad\qquad
\begin{prooftree}
\AxiomC{}
\LeftLabel{$\rlnm{MChar}$}
\UnaryInfC{$a \matches a$}
\end{prooftree}
$$

<br/>

$$
\begin{prooftree}
\AxiomC{$R \matches v$}
\AxiomC{$S \matches w$}
\LeftLabel{$\rlnm{Concat}$}
\BinaryInfC{$R \cdot S \matches vw$}
\end{prooftree}
$$

<br/>

$$
\begin{prooftree}
\AxiomC{$R \matches w$}
\LeftLabel{$\rlnm{ChoiceL}$}
\UnaryInfC{$R + S \matches w$}
\end{prooftree}
\qquad\qquad
\begin{prooftree}
\AxiomC{$S \matches w$}
\LeftLabel{$\rlnm{ChoiceR}$}
\UnaryInfC{$R + S \matches w$}
\end{prooftree}
$$

<br/>

$$
\begin{prooftree}
\AxiomC{}
\LeftLabel{$\rlnm{StarB}$}
\UnaryInfC{$R^* \matches \epsilon$}
\end{prooftree}
\qquad\qquad
\begin{prooftree}
\AxiomC{$R \matches v$}
\AxiomC{$R^* \matches w$}
\LeftLabel{$\rlnm{StarS}$}
\BinaryInfC{$R^* \matches vw$}
\end{prooftree}
$$

</div>