

<div class="defn" markdown="1">
A __transition__ consists of two regular expressions $R$ and $S$ and a label $\ell$, which is either a letter $a \in \Sigma$ or $\epsilon$.  If such a transition is valid, we write $$R \xrightarrow{\ell} S$$.  The valid transitions are exactly those that can be deduced using the following rules:

$$
\begin{prooftree}
\AxiomC{}
\LeftLabel{$\rlnm{R1}$}
\UnaryInfC{$a \xrightarrow{a} \epsilon$}
\end{prooftree}
\qquad\qquad
\begin{prooftree}
\AxiomC{}
\LeftLabel{$\rlnm{R2}$}
\UnaryInfC{$(R + S) \xrightarrow{\epsilon} R$}
\end{prooftree}
\qquad\qquad
\begin{prooftree}
\AxiomC{}
\LeftLabel{$\rlnm{R3}$}
\UnaryInfC{$(R + S) \xrightarrow{\epsilon} S$}
\end{prooftree}
$$

<br/>

$$
\begin{prooftree}
\AxiomC{}
\LeftLabel{$\rlnm{R4}$}
\UnaryInfC{$(\epsilon \cdot{}S) \xrightarrow{\epsilon} S$}
\end{prooftree}
\begin{prooftree}
\qquad\qquad
\AxiomC{$R \xrightarrow{\ell} \epsilon$}
\LeftLabel{$\rlnm{R5}$}
\UnaryInfC{$(R\cdot{}S) \xrightarrow{\ell} S$}
\end{prooftree}
\qquad\qquad
\begin{prooftree}
\AxiomC{$R \xrightarrow{\ell} R'$}
\LeftLabel{$\rlnm{R6}$}
\RightLabel{$R' \neq \epsilon$}
\UnaryInfC{$(R\cdot{}S) \xrightarrow{\ell} R'\cdot{}S$}
\end{prooftree}
$$

<br/>

$$
\begin{prooftree}
\AxiomC{}
\LeftLabel{$\rlnm{R7}$}
\UnaryInfC{$R^* \xrightarrow{\epsilon} \epsilon$}
\end{prooftree}
\qquad\qquad
\begin{prooftree}
\AxiomC{}
\LeftLabel{$\rlnm{R8}$}
\UnaryInfC{$R^* \xrightarrow{\epsilon} R \cdot{} R^*$}
\end{prooftree}
$$

</div>