
<div class="defn" markdown="1">
__Pumping Lemma for Regular Languages__: Let $A$ be a regular language.  Then there is some natural number $p \geq 1$ such that, for any word $s \in A$ of length at least $p$, it is possible to split $s$ into three pieces $s = uvw$ such that the following all hold:    
* __(P1)__ $v$ is not empty
* __(P2)__ $\lvert uv \rvert \leq p$
* __(P3)__ $$\forall i \in \mathbb{N}.\ uv^iw \in A$$
</div>