<div class="defn" markdown="1">
__Kleene's Theorem.__ Finite automata and regular expressions have the same expressive power:
  * For all regular expressions $R$, there is a finite automaton $M$ such that $$L(R) = L(M)$$
  * For all finite automata $M$, there is a regular expression $R$ such that $$L(M) = L(R)$$
</div>