@import "tango.css";

.main-content h1 {
  margin-bottom: 1rem
}

.main-content h2 {
  margin-top: 3rem;
  margin-bottom: 1rem
}

.main-content h3 {
  margin-top: 3rem;
  margin-bottom: 1rem
}

.defn {
  border-style: solid;
  border-width: 10px 0px 0px 0px;
  border-color: rgb(229, 229, 241);
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(248, 248, 248);

}

/* Fix colours for dark mode */
@media (prefers-color-scheme: dark) {
  .defn {
    border-color: rgb(26, 26, 14);
    background-color: rgb(7, 7, 7);
  }
}