---
layout: default
mathjax: true
---

{% include mathjax.html %}

<div style="display:none">
\[
  \newcommand{\tr}{\Rightarrow}
  \newcommand{\trs}{\tr^{\!\ast}}
  \newcommand{\rlnm}[1]{\mathsf{(#1)}}
  \newcommand{\rred}[1]{\xrightarrow{#1}}
  \newcommand{\rreds}[1]{\mathrel{\xrightarrow{#1}\!\!^*}}
  \newcommand{\cl}{\mathsf{Cl}}
  \newcommand{\pow}{\mathcal{P}}
  \newcommand{\matches}{\mathrel{\mathsf{matches}}}
  \newcommand{\kw}[1]{\mathsf{#1}}
  \newcommand{\andop}{\mathrel{\&\!\&}}
  \newcommand{\orop}{\mathrel{\|}}
  \newcommand{\ff}{\mathsf{false}}
  \newcommand{\tt}{\mathsf{true}}
  \newcommand{\abra}[1]{\langle #1 \rangle}
  \newcommand{\bnfnt}[1]{\abra{\small \textsf{#1}}}
  \newcommand{\llbracket}{[\![}
  \newcommand{\rrbracket}{]\!]}
  \newcommand{\first}{\mathsf{First}}
  \newcommand{\nullable}{\mathsf{Nullable}}
  \newcommand{\follow}{\mathsf{Follow}}
  \newcommand{\tm}[1]{\mathsf{#1}}
  \newcommand{\nt}[1]{\mathit{#1}}
  \newcommand{\Coloneqq}{::=}
  \newcommand{\abs}[1]{|#1|}
\]
</div>

{{ content }}